.blog-headline{
    width: auto;
    height: 30px;
    margin-top: 65px;

    h1{
        font-size: 30px;
        font-family: "proxima-nova", sans-serif;
        font-weight: normal;

        .line {
            border-bottom: 2px solid black;
            margin-top: 2px;
            width: 100px;
            
        }
    }


}