.special-content{
    margin-top: 40px;
    max-width: 100%;
    // background-color: lightblue;

    .spain{
        min-height: 250px;
        // background-color: lightcoral;
        display: flex;

        img{
            width: 199px;
            height: 287px;
            background-color: chartreuse;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        
          .country{
            min-height: 250px;
            font-size: 30px;
            font-family: "proxima-nova", sans-serif;
            // background-color: deeppink;
            margin-left: 20px;
            position: relative;

            span{
                font-size: 20px;
                color: #FF7D38;

            }

            .line {
                border-bottom: 2px solid black;
                margin-top: 2px;
                width: 200px;
                
            }

            .text{
                width: 250px;
                // background-color: lightslategray;
                margin-top: 20px;

                p{
                    font-size: 18px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: lighter;
                }

            }

            button{
            margin-top: 7%;
            width: 121px;
            height: 40px;
            background-color: #79ADDC;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            color: white;
            border-radius:30px;
            border: none;

            }
          }
    }

    .thailand{
        min-height: 200px;
        // background-color: lightcoral;
        display: flex;
        margin-top: 60px;
        margin-bottom: 100px;

        img{
            width: 199px;
            height: 287px;
            background-color: chartreuse;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        
          .country{
            
            font-size: 30px;
            font-family: "proxima-nova", sans-serif;
            // background-color: deeppink;
            margin-left: 20px;
            position: relative;

            span{
                font-size: 20px;
                color: #FF7D38;

            }

            .line {
                border-bottom: 2px solid black;
                margin-top: 2px;
                width: 200px;
                
            }

            .text{
                width: 250px;
                // background-color: lightslategray;
                margin-top: 20px;

                p{
                    font-size: 18px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: lighter;
                }

            }

            button{
            margin-top: 7%;
            width: 121px;
            height: 40px;
            background-color: #79ADDC;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            color: white;
            border-radius:30px;
            border: none;

            }
          }
    }
}

@media all and (max-width: 676px) {
    .special-content {
        margin-top: 50px;


        .spain{
            min-height: 250px;
            flex-direction: column;

            img{
                width: 250px;
            }

            .country{
                margin-top: 20px;
                width: 260px;
                }

                button{
                    margin-left: 50px;
                }
            }
            
        .thailand{
            flex-direction: column;

            img{
                width: 250px;
            }

            .country{
                margin-top: 20px;
                width: 260px; 
            }
            button{
                margin-left: 50px;
            }
        }
    }
}

